<div class="container">
  <section class="grid">
    <div [ngClass]="cell1CssClass" (click)="cell1Clicked()"></div>
    <div [ngClass]="cell2CssClass" (click)="cell2Clicked()"></div>
    <div [ngClass]="cell3CssClass" (click)="cell3Clicked()"></div>
    <div [ngClass]="cell4CssClass" (click)="cell4Clicked()"></div>
    <div [ngClass]="cell5CssClass" (click)="cell5Clicked()"></div>
    <div [ngClass]="cell6CssClass" (click)="cell6Clicked()"></div>
    <div [ngClass]="cell7CssClass" (click)="cell7Clicked()"></div>
    <div [ngClass]="cell8CssClass" (click)="cell8Clicked()"></div>
    <div [ngClass]="cell9CssClass" (click)="cell9Clicked()"></div>
  </section>
</div>

<router-outlet></router-outlet>
