.grid{
	display: grid;
	grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;

  div {
    border: 1px solid #000;
  }
}

.empty {
  background-color: white;
}

.player1 {
  background-color: rgb(55, 55, 226);
}

.player2 {
  background-color: rgb(212, 28, 28);
}
